{{define "active-entry"}}

<div class="w-100" v-scope>
    <div class="input-group mb-3" v-if="!started">
        <input v-model="description" type="text" class="form-control" placeholder="Task Description">
        <select v-model="work" class="form-select flex-grow-0 w-auto">
            <option value="LU MII">LU MII</option>
            <option value="LU MD">LU MD</option>
            <option value="PPS">PPS</option>
        </select>
        <button id="start-sw-btn" @click="start()" type="button" class="btn btn-success">
            Start <i class="bi bi-play-circle"></i>
        </button>
    </div>

    <form class="input-group mb-3 d-none" action="/submit" method="post" @vue:mounted="$el.classList.remove('d-none')" v-if="started">
        <!-- Elapsed Time -->
        <div class="form-control flex-grow-0 w-auto"> Elapsed: <span id="time-elapsed">00:00:00</span> </div>
        <input id="seconds-submit" type="hidden" name="seconds" value="0">

        <!-- Task Description -->
        <input v-model="description" type="text" class="form-control" placeholder="Task Description" name="description">
        
        <!-- Chosen Work -->
        <span class="form-control flex-grow-0 w-auto">${work}</span>
        <input v-model="work" type="hidden" name="work">

        <!-- Started -->
        <input v-model="startedTimestamp" id="started-submit" type="hidden" name="started" value="">
        <button id="pause-sw-btn" onclick="pause_sw()" type="button" class="btn btn-warning">
            Pause <i class="bi bi-pause-circle"></i>
        </button>
        <button id="unpause-sw-btn" onclick="unpause_sw()" type="button" class="btn btn-success d-none">
            Unpause <i class="bi bi-play-circle"></i>
        </button>
        <button id="submit-sw-btn" type="submit" class="btn btn-primary">
            Save <i class="bi bi-save"></i>
        </button>
        <button id="stop-sw-btn" @click="started=false;" type="button" class="btn btn-danger d-none">
            Cancel <i class="bi bi-stop-circle"></i>
        </button>
    </form>
</div>

<script>
        
    function milliseconds_to_miliary(milliseconds) {
        let seconds = Math.floor(milliseconds/1000);
        let s = seconds%60;
        let m = Math.floor((seconds/60)%60);
        let h = Math.floor(seconds/3600);
        
        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        var time = h + ":" + m + ":" + s ;

        return time;
    }

    var startedDate;
    var paused = false, pausedDate, pausedTime = 0;
    var intervalId;
    var taskDescription;
</script>

<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'
    createApp({
        $delimiters: ['${', '}'],
        started: false,
        startedTimestamp:0,
        description: "",
        work: "PPS",
        start() {
            this.started = true;
            this.startedTimestamp = Math.floor(new Date().valueOf()/1000)
        }
    }).mount()
</script>

{{end}}